<div class="column is-one-quartar">
    <nav class="panel">
      <p class="panel-heading">Profile</p>
      <div class="panel-block">
        <article class="media">
          <div class="media-left">
            <figure>
                <% if @user.image.url.nil? %>
                    <%= image_tag "https://bulma.io/images/placeholders/64x64.png",style: "height:66px; width:66px;" %>
                <% else %>
                  <%= image_tag (@user.image.url) ,style: "height:66px; width:66px;",class: "image" %>
                <% end %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= @user.name %></strong>
                <small>@<%= @user.username %></small>
                <%= render 'follow_form' %>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="panel-block">
        <div class="lavel is-mobile">
          <div class="lavel-item has-centered-text">
            <div>
              <p class="heading">Tweets</p>
              <p class="tutle is-6"><%= @user.tweeets.count %></p>
            </div>
          </div>
          <div class="lavel-item has-centered-text">
            <div>
              <p class="heading">Following</p>
              <p class="tutle is-6">
                <a href="<%= following_user_path(@user) %>">
                <strong id="following" class="stat">
                  <%= @user.following.count %>
                </strong>
              </a>
            </p>
            </div>
          </div>
          <div class="lavel-item has-centered-text">
            <div>
              <p class="heading">Followers</p>
              <p class="tutle is-6">
                <a href="<%= followers_user_path(@user) %>">
                  <strong id="followers" class="stat">
                    <%= @user.followers.count %>
                  </strong>
                </a>
              </p>
            </div>
          </div>

        </div>

      </div>
    </nav>
</div>
