
<h1 style="font-size:30px;">All user</h1>

<div class="wrapper">


<%= will_paginate %>
    <% @users.each do |user| %>
    <div style="margin-left: 600px;">
      <h2 style="font-size:20px;"><%= user.username %></h2>

      <figure class="image is-128x128">
        <% if user.avatar.attached? %>
          <%= link_to user_path(user) do %>
            <%= image_tag (user.avatar) ,style: "height:128px; width:128px;" %>
          <% end %>
        <% else %>
            <%= image_tag "https://bulma.io/images/placeholders/128x128.png",class: "is-rounded",style: "height:128px; width:128px;" %>
        <% end %>
     </figure>
    </div>
    <% end %>
  <%= will_paginate %>
  </div>
