<!DOCTYPE html>
<html>
  <head>
    <title>Twittter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if flash.any? %>
      <script type="text/javascript">
      <% flash.each do |key,value| %>
      <% type = key.to_s.gsub('alert','error').gsub('notice','info') %>
        toastr.<%= type %>('<%= value %>')
      <% end %>
      </script>
    <% end %>

      <script type="text/javascript">
        $(document).ready(function(){
          var globalnav = $('#global-nav');
          var navheight = globalnav.outerHeight(true);
          var navoffset = globalnav.offset().top;
          $(window).scroll(function(){
            if($(this).scrollTop() > navoffset){
              globalnav.css({
                'position':'fixed',
                'top':0,
                'width':'100%',
              });
              $('#main').css('margin-top',navheight);
            } else {
              globalnav.css('position','relative');
              $('#main').css('margin-top','auto');
            }
          });
        });
      </script>

    <nav class="navbar is-link" id="global-nav" style="opacity:0.5;">
      <div class="navbar-brand">
        <%= link_to tweeets_path, class: "navbar-item" do %>
          <h1 class="title is-5">Twitter</h1>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExample">
          <span>ああ</span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

        <%= link_to "Home", static_pages_home_path,class: "navbar-item" %>

      <a class="navbar-item">
        about
      </a>
        <%= link_to "Contact",static_pages_contact_path,class: "navbar-item" %>
    </div>
  </div>

    <div id="navbarExample" class="navbar-menu">
      <div class="navbar-end">
          <div class="field is-grouped">
            <% if user_signed_in? %>
            <p class="control">
              <%= link_to "find User", users_path,class: "nav-button button is-info is-outlined is-rounded is-inverted"%>
            </p>
            <p class="control">
              <%= link_to "New Tweeet", new_tweeet_path, class: "nav-button button is-info is-outlined is-rounded is-inverted"%>
            </p>
            <% end %>
            <% if user_signed_in? %>
            <figure>
              <% if current_user.avatar.attached? %>
                <%= link_to user_path(current_user) do %>
                  <%= image_tag current_user.avatar ,style: "height:66px; width:66px;" %>
                <% end %>
              <% else %>
                  <%= image_tag "https://bulma.io/images/placeholders/64x64.png",style: "height:66px; width:66px;" %>
              <% end %>
            </figure>
              <p class="control">
                <%= link_to "Sign out", destroy_user_session_path, method: :delete,class: "nav-button button is-info is-outlined is-rounded is-inverted"%>
              </p>
            <% else %>
            <p class="control">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-button button is-info is-outlined is-rounded is-inverted"%>
            </p>
            <p class="control">
              <%= link_to "Sign in", new_user_session_path,class: "nav-button button is-info is-outlined is-rounded is-inverted"%>
            </p>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>

    <footer class="footer navbar is-link" style="opacity:0.5;">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>

  </body>
</html>
